{% extends 'main.html' %}
{% load static %}

{% block title %} User Profiles {% endblock %}

{% block content %} 
<section id="dev_head_section">
    <h1 id="dev_heading">
        CONNECT WITH <strong>DEVELOPERS</strong><br/>FROM AROUND THE WORLD
    </h1>
    
    <form action="{% url 'profiles' %}" method="GET" class="search_form" >
        {% csrf_token %}
        <input class="search_bar" type="text" id="developer_search" name="search_query" placeholder="Search by developer name / Skill " {% if search_query %} value={{search_query}}  {% endif %} />
        <input class="search_btn btn_effect " type="submit" value="Search" />
    </form>
</section>


<section id="dev_profiles_list">

    {% for p in profiles %}
        <div>
            <a class="profile_link" href="{% url 'user-profile' p.id %}">

                <div class="dev_info_box">
                    <div class="dev_img_name">
                        <img src="{% static p.profile_image.url %}" alt="profile-image" />
                        <div class="dev_title_sub">
                            <h3>{{p.name}}</h3>
                            <p>{{p.short_intro|slice:'50'}}</p>
                        </div>
                        
                    </div>
                    
                    <div class="dev_desc">
                        <p>{{p.bio|slice:'150'}}</p>
                    </div>
                    
                    <div class="tags_box">
                        {% for skill in p.skill_set.all|slice:"6" %}
                            <p class="tag skill_bg">{{skill}}</p>
                        {% endfor %}
                    </div>
                </div>
            
            </a>
        </div>
    {% endfor %}

</section>



{% if paginator.num_pages > 1 %}

<section class="paginator">
    <ul class="pages_container">
        <li class="page_item">
            <a href="?page=1" class="edit_btn  {% if profiles.has_previous == False %} page_effect_dull  {% else %} btn_effect  {% endif %} "> 
                &#10502;
            </a> 
        </li>

        {% if profiles.has_previous %}
        <li class="page_item">
            <a href="?page={{profiles.previous_page_number}}" class="edit_btn btn_effect"> 
                &larrb;
            </a> 
        </li>
        {% endif %}    
        
        {% for page in paginator.page_range %}
        <li class="page_item">
            <a href="?page={{page}}" class="edit_btn btn_effect {% if page == profiles.number%} page_effect_active {% endif %} ">
                {{page}}
            </a> 
        </li>
        {% endfor %}

        {% if profiles.has_next %}
        <li class="page_item">
            <a href="?page={{profiles.next_page_number}}" class="edit_btn btn_effect"> 
                &rarrb;
            </a> 
        </li>
        {% endif %}   

        <li class="page_item">
            <a href="?page={{paginator.num_pages}}" class="edit_btn {% if profiles.has_next == False  %} page_effect_dull  {% else %} btn_effect  {% endif %}"> 
                &#10503;
            </a> 
        </li>
    
    </ul>
</section>

{% endif %}


{% endblock %}

