{% extends 'main.html' %}

{% load static %}

{% block title %} {{page}} {% endblock %}

{% block content %} 

    
<form action="" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}

    <section id="project_form_section">
        <div class="project_back_btn"> 
            <a class="project_back_btn_link" href="{% url 'account' %}">
                <img class="project_back_btn_icon" src="{% static 'images/back_arrow_icon.svg' %}" alt="Back button">
                Back
            </a>
        </div>
        <h1 class="form_title">{{page}}:</h1>
        {% for field in skill_form %}
                <div class="field_wrapper">

                    {{ field.label_tag }}
                    <div class="input_field">{{ field }}</div>
                    <p> {{ field.errors }} </p>
                </div>
            
        {% endfor %}
        <input type="submit" class="project_form_submit add_effect "/>
    </section>

</form>

{% endblock %}

