{% extends 'main.html' %}
{% load static %}

{% block title %} Add Project {% endblock %}

{% block content %}

    

<form action="" method="POST" enctype="multipart/form-data" >
    {% csrf_token %}

    <section id="project_form_section">
        <div class="project_back_btn"> 
            <a class="project_back_btn_link" href="{% url 'account' %}">
                <img class="project_back_btn_icon" src="{% static 'images/back_arrow_icon.svg' %}" alt="Back button">
                Back
            </a>
        </div>
        <h1 class="form_title">Add Project:</h1>
        {% for field in project_form %}
            {% if field == project_form.featured_image %}

                <h3><strong>{{ field.label_tag }}</strong></h3>                        
                {{field}}
                <p> {{ field.errors }} </p>

            {% else %}
                <div class="field_wrapper">

                    {{ field.label_tag }} {% if field.label_tag == project_form.title.label_tag %} (*required) {% endif %}
                    
                    <div class="input_field">{{ field }}</div>
                    <p> {{ field.errors }} </p>
                </div>
            {% endif %}
            
        {% endfor %}
        <input type="submit" class="project_form_submit add_effect "/>
    </section>

</form>

{% endblock %}