{% extends 'main.html' %}

{% block title %} Delete - {{object}} {% endblock %}

{% block content %}
<section class="delete_section">

    <form action="" method="POST" class="delete_form">
        {% csrf_token %}
        <h3 class="delete_title">Are you sure you want to delete <span class="delete_title_span">"{{object}}"</span> ?</h3>
    
        <div class="delete_form_btns">
            <a href="{{request.GET.next}}" class=" delete_btn edit_btn btn_effect"> Go back</a>
            <input class="delete_btn  edit_btn delete_effect" type="submit" value="Confirm  Delete"  />
        </div>
    
    </form>
</section>

{% endblock %}