{% extends 'main.html' %}

{% load static %}

{% block title %} Reset Password {% endblock %}

{% block content %} 

<section class="project_form_section">
    <h2 class="reset_title">Enter new password:</h2>
    <p>
        Please enter your new password twice so we can verify you typed it in correctly.
    </p>
    
    <form action="" method="POST">
        {% csrf_token %}
        <div class="reset_form">

            <div class="reset_email">
                {{ form }}
            </div>
        </div>
        <input type="submit" class="project_form_submit add_effect " value="Reset Password"/>
    </form>
</section>


{% endblock %}






