{% extends 'main.html' %}

{% load static %}

{% block title %} Reset Password Sent {% endblock %}

{% block content %} 

<section class="project_form_section">
    <div class="project_back_btn"> 
        <a class="project_back_btn_link" href="{% url 'login' %}">
            <img class="project_back_btn_icon" src="{% static 'images/back_arrow_icon.svg' %}" alt="Back button">
            Back
        </a>
    </div>
    <h2  class="reset_title">Password reset sent:</h2>
    
    <p>
        We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        <br/>
        <br/>
        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
    </p>
    
</section>


{% endblock %}






